.bubble-menu__link {
    padding: 12px 16px;
    max-width: 337px;
    border-radius: 4px;
    border: 1px solid #eee;
    box-shadow: 0px 2px 16px 0px #0000000f;
    box-sizing: border-box;
    background-color: #fff;
    .bubble-menu__link__href {
        display: inline-block;
        color: #1e6ee6;
        font-size: 14px;
        margin-right: 12px;
        font-weight: 500;
    }
    .bubble-menu__link__operas {
        flex-shrink: 0;
        button {
            width: 28px;
            height: 28px;
            border: 0 none;
            cursor: pointer;
            background-color: #fff;
            border-radius: 2px;
            flex-shrink: 0;
            svg {
                transform: scale(1.1);
            }
            &:hover {
                background-color: #eee;
            }
        }
    }
}
