.rich-text-menu-bar {
    position: relative;
    padding: 8px;
    button {
        padding: 0;
        border: 0 none;
        background: inherit;
        outline: none;
    }
    .menu__split {
        margin: 0 8px;
        width: 0;
        height: 20px;
        padding: 0 0.5px;
        background-color: #eee;
    }
    &.blured {
        &::before {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 9;
        }
        .menu-item {
            cursor: not-allowed;
            color: #ccc;

            svg path {
                fill: #ccc;
            }
            img {
                opacity: 0.4;
            }
        }
        .icon-menu__hr {
            background-color: #ccc;
        }
        .color-under-preview {
            opacity: 0.5;
        }
    }
    .menu-item {
        padding: 4px;
        font-size: 14px;
        font-weight: 700;
        min-width: 28px;
        height: 28px;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        border: 0 none;
        border-radius: 2px;
        outline: none;
        cursor: pointer;
        background: inherit;
        color: #444;
        flex-shrink: 0;
        &:hover {
            background: #eee;
        }
        &.disabled {
            cursor: not-allowed;
            color: #ccc;
            svg path {
                fill: #ccc;
            }
        }
        svg, img {
            width: 20px;
            height: 20px;
        }
        svg path {
            fill: #444;
        }
    }

    .icon-menu__hr {
        display: block;
        width: 10px;
        height: 2px;
        background-color: #444;
    }
}

.menu-form-item {
    margin-bottom: 19px;
    font-size: 14px;
    .menu-form-item__label {
        margin-bottom: 8px;
        line-height: 20px;
    }

    .jt-design-comp-icon-tips {
        margin-left: 5px;
        width: 16px;
        height: 16px;
        color: #999;
    }
    .menu-form-item__input {
        width: 100%;
        padding: 8px 12px;
        box-sizing: border-box;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        &:focus {
            border-color: #1e6ee6;
        }
    }

    .menu-form-item__err {
        margin-top: 6px;
        line-height: 21px;
        color: #dd4e40;
    }
}

.menu-bar_platform_pc {
    background: #fcfcfc;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 4px 4px 0 0;
}

.menu-bar_platform_mobile {
    background: rgba(252, 252, 252, 1);
    border-radius: 4px;
    border: 1px solid rgb(238, 238, 238);
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.08);
    overflow: auto;
    .menu-item {
        min-width: 36px;
        height: 36px;
        padding: 6px;
        svg, img {
            width: 24px;
            height: 24px;
        }
    }
    .icon-menu__hr {
        width: 12px;
    }
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
    }
    &::-webkit-scrollbar-track-piece {
        background-color: transparent;
    }
    .tooltip-wrap {
        position: relative;
        &:hover {
            .jt-design-comp-tooltip {
                display: none;
            }
        }
    }
}
